*{
    font-family: "Story Script", sans-serif;
    margin: 0;
}

nav{
    width: 100;
    height: 70px;
    background-color: rgb(255, 181, 218);
    color: #000000;
    font-size: 18px;
    font-weight: 800;
    display: flex;
   
}
#navbar-itens{
    list-style: none;
    height: 100%;
    position: relative;
}
#navbar-itens li{
    display: inline;
    position: absolute;
}

ul{
    list-style: none;
    height: 100;
    position: relative;


}
li #home,#about{
    display: inline;
    position:absolute 
}

#home{
   top: 30px;
    left: 1470px;

}

#about{
    top: 25px;
    right: -20px;

}

#titulo-Principal{
    margin: top 50px;
    text-align: center;
    font-weight: 800;
}

#aulas{
    border: 2px snow;
     width: 20%;
    margin: 60px 0px 20px 50px;
    padding: 10px 30px;
 
}

#projetos{
    border: 2px sandybrown;
    width: 20%;
    margin: 60px 0px 20px 50px;
    padding: 10px 30px;
}
