/** Estilos gerais para o css **/

*{
    margin: 0;
    padding:0;

}
/** Estilos gerais para o corpo e as caixas **/

body{
    font-family: sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

div {
    width: 250px;
    height: 150px;
    margin: 30px auto;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #771223;
}

h2 {
    font-size: 1.2rem;

}
/** 1. Usando RGBA */
/** Fundo azul com 70% de opacidade */

.caixa-rgba {
    background-color: rgba(158, 13, 57, 0.815);
    box-shadow: 5px 5px 10px #000000;
}

/* 2. Usando Box-Shadow 8 */
/* Simbra preta, 5px para direita e 5px para baixo, com 10px de de */

.caixa-box-shadow {
    background-color: #8a0643;
    box-shadow: 5px 5px 10px #000000;
}

.caixa-sombra-suave {
    background-color: #960a38;
    box-shadow: 5px 5px 10px #000000;
}