* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Libre Baskerville, serif;
    background-color: #f5f5f5; 
    padding: 20px;
}
header h1 {
    text-align: center;
    font-size: 2.5em;
    color: #2c5032;
    margin-bottom: 20px;
}
.destaque {
    background: #56fc03(0, 0, 0, 0.733);
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #56fc03(0, 0, 0, 0.2); 
    text-align: center;
}
.destaque h2 {
    color: #2980b9;
    font-size: 1.8em;
}
.destaque p {   
    font-size: 1.2em;
    color: #34495e;
}
.programacao {
    margin-bottom: 40px;
}
.programacao h3 {
    font-size: 1.8em;
    color: #2c3e50;
    margin-bottom: 15px;
}
.programacao ul {
    list-style-type: none;
    padding-left: 20px;
}
.programacao ul li {
    font-size: 1.1em;
    color: #34495e;
    margin-bottom: 10px;
}
h1, h2, h3 {
    margin-bottom: 15px;
}