*{
    font-family: "Story Script", sans-serif;
    margin: 0;
}

nav{
    width: 100;
    height: 70px;
    background-color: rgb(176, 245, 222);
    color: #000000;
    font-size: 18px;
    font-weight: 800;
    display: flex;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100;

}