@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:"Montserrat" ;
}
.main-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: #262324;
    color: #ffffff;
    justify-content: space-around;
    align-items: center;
}
.logo{
    padding-left: 10px;

}
.logo i{
    font-size: 25px;
}

.nav-links{
    width: 15%;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    

}
.nav-links li a{
    text-decoration:none ;
    color: #ffffff;
}
h1{
    margin: 50px auto 30px auto;
    text-align: center;

}
p{
    margin-bottom: 50px;
    text-align: center;
}
#banner{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
img{
    width: 50%;
    height: 400px;
}
h2{
    font-size: 20px;
    text-align: center;
    margin: 50px auto 30px auto;
}
#galeria{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Item-galeria{
    max-width: 40%;
    height: 350px ;
    margin: 20px 10px ;
}