        div{
            background-color: #a6d4f3;
            width: 40%;
            padding: 20px 30px;
            margin: 50px auto;
        }
        h1{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;

        }
        p{
            text-align: center;
            margin-bottom: 30px;
        }
        ul{
            padding-left: 60px;
        }
        li{
            margin-bottom: 10px;
            
        }
    
   